.btn{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: aliceblue;
    color: blue;

}

.img{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 400px;
   

}

.content{
    width: 900px;
    margin-top: 80px;
    margin-left: 50px;
}

