/* @media screen and (min-width : 1024){ */
    

.btn{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: aliceblue;
    color: blue;

}

.img{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 400px;
    float: right;
    margin-left: 10rem;
   

}

.content{
    width: 100%;
    /* margin-top: 200px;
    margin-left: 50px;  */
    /* float:right  */
    display: flex;
    align-items: center;
   
    margin-top: 5rem;
    margin-left: 1rem;
 


}
/* } */


@media screen and (max-width : 500px) {
    .img{
        display: none;
    }

    /* .content{
        display: none;
    } */
    
}